img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: none;
}

img.active{
    display: block;
}

button{
    width: 30px;
    aspect-ratio: 1 / 1;
}

.controls{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}
